<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./static/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
  <div class="main">
    <div class="container a-container" id="a-container">
  
      <form class="form" id="b-form" method="POST" action="/login" id="form-signin">
        <h2 class="form_title title">Sign in to BKSEC Academy</h2>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input class="form__input" type="text" placeholder="Username" required name="username">
        <input class="form__input" type="password" placeholder="Password" required name="password">
        <br></br>
        {% if google_recapcha_site_key %}
        <div class="g-recaptcha" data-sitekey="{{ google_recapcha_site_key }}"></div>
        {% endif %}
        <div class="text">
          {% if error_login %}
            <p class="error">{{ error_login }}</p>
          {% else %}
            <p>If you forgot your password, please contact sondt</p>
          {% endif %}

        </div>
        <button onclick="signin();" class="switch__button button">SIGN IN</button>
      </form>
    </div>

    <div class="container b-container" id="b-container">
      <form class="form" id="a-form" method="POST" action="/signup" id="form-signup">
        <h2 class="form_title title">Create Account</h2>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input class="form__input" type="text" placeholder="Username" required name="username">
        <input class="form__input" type="password" placeholder="Password" required name="password">
        <br></br>
        {% if google_recapcha_site_key %}
        <div class="g-recaptcha" data-sitekey="{{ google_recapcha_site_key }}"></div>
        {% endif %} 
        <div class="text">
          {% if error_signup %}
            <p class="error">{{ error_signup }}</p>
          {% endif %}
          {% if success_signup %}
            <p>{{ success_signup }}</p>
          {% endif %}
        </div>
        <button onclick="signup();" class="switch__button button">SIGN UP</button>
      </form>
    </div>
    <div class="switch" id="switch-cnt">
      <div class="switch__circle"></div>
      <div class="switch__circle switch__circle--t"></div>
      <div class="switch__container" id="switch-c1">
        <h2 class="switch__title title">Hello!</h2>
        <p class="switch__description description">Sign up BKSEC Academy to start your journey</p>
        <button class="switch__button button switch-btn">SIGN UP</button>
      </div>
      <div class="switch__container is-hidden" id="switch-c2">
        <h2 class="switch__title title">Welcome Back !</h2>
        <p class="switch__description description">To get flag you need to sign in</p>
        <button class="switch__button button switch-btn">SIGN IN</button>
      </div>
    </div>
  </div>
  <script src="./static/js/login.js"></script>
  {% if success_signup or error_signup or signup %}
    <script>
      changeForm()
    </script>
  {% endif %}
</body>

</html>